            {{#each futbolistas}}
                <h1>{{nombre}} {{apellido}}</h1>
                    <p>Posición: {{posicion}}</p>
                    <p>Equipo: {{equipo}}</p>
                    <p>{{desc}}</p>
            {{/each}}

